@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

* {
  background-color: rgb(230, 225, 216);
}
.intro {
  font-family: 'Merriweather';
  color: black;
}
.header {
  height: 20vh;
  padding-top: 50px;
  padding-left: 75px;
}
.images {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 95%;
}
img {
  height: 68vh;
  width: 31%;
}
