@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

body {
  background-color: rgb(230, 225, 216);
  font-family: 'Merriweather';
}
.intro {
  font-family: 'Merriweather';
  color: black;
}
.images {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 100px;
}
img {
  height: 68vh;
  width: 31%;
}
