@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

* {
  background-color: rgb(230, 225, 216);
}

.intro {
  font-family: 'Merriweather';
  color: black;
}
.header {
  height: 15vh;
  padding-top: 30px;
  padding-left: 75px;
  /* margin-bottom: 20px; */
}
img {
  display: block;
  height: 75vh;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
